/br.com.poketrainners.domain/nbproject/private/
/br.com.poketrainners.repository/nbproject/private/
/br.com.poketrainners.infrastructure/nbproject/private/
/br.com.poketrainners.repository/build/
/br.com.poketrainners.domain/dist/
/br.com.poketrainners.domain/build/
/br.com.poketrainners.repository/dist/
/br.com.poketrainners.api/dist/